.about-us-page{
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
}
.about-us-page h1{
  margin-bottom: 50px;
}

.vertical-line {
  border-left: 1px solid rgb(170, 170, 170);
  height: auto;
  margin: 0 10px;
}

.about-us-container {
 display: flex;
 justify-content:space-around;
 text-align: justify;
}

.project-container{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;

}

.objetivos-container{
  display: flex;
  /* border: 2px solid green; */
  margin-bottom: 50px;

}

.objetivos {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: 2px solid yellow; */

}
.dev-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  }

.func-container {
  display: flex;
  justify-content: space-around;
}

.obj-tools {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.tools {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.icone {
  width:35px;
}

.group-dev{
  justify-self: center;
  text-align: center;
}
.group-off{
  justify-self: center;
  text-align: center;
}
.group-off img{
  filter: grayscale(100%);
}
.circle {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  justify-self: center;
}
.circle img {
  width: 100%;
}

.orientadores{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.patrocinio-container{
  width: 25%;
  display: flex;
  flex-direction: column;
  
  padding-right: 5%;
  /* border: 2px solid brown; */
  text-align: center;
}

.icon-patrocinadores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patrocinio-container img{
  height: auto;
  width: 100px;
  margin-bottom: 40px;
}

.about-us-page h2 {
  margin-bottom: 25px;
}