.address-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .address-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .address-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .address-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .address-result {
    margin-top: 20px;
  }
  
.address-result a{
color: #ffffff;
text-decoration: none;
}

.address-form h2 {
  margin-bottom: 35px;
}