.text-ou { 
    display: flex;
    text-align: center;
    border: 10px;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
}

.forms_tela_cadastro {
    display: flex;
    align-items: inherit;
    flex-direction: row;
    padding-bottom: 200px;
    padding-top: 100px;
}

@media (max-width: 950px) {
    .forms_tela_cadastro{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .text-ou{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}