/* styles.css */

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .login-container h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type='email'],
  .form-group input[type='password'] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  /* Adicione regras de estilo para torná-lo responsivo em telas menores */
  @media screen and (max-width: 600px) {
    .login-container {
      max-width: 90%;
    }
  }
  