.text-ou { 
    display: flex;
    text-align: center;
    border: 10px;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
}

.forms_tela_cadastro {
    display: flex;
    align-items: inherit;
    flex-direction: row;
    padding-bottom: 200px;
    padding-top: 100px;
}