
.cart-container {
  position: fixed;
  top: 215px;
  right: 0;
  width: 225px; /* Ajuste a largura conforme necessário */
  background-color: green;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Adicione a propriedade border-radius para arredondar os cantos */
.cart-quantity-buttons {
  display: flex;
  align-items: center;
  }

/* Estilo para os botões de quantidade */
.cart-quantity-button {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  border-radius: 5px; /* Define um raio de arredondamento de 5 pixels */
  padding: 5px 8px; /* Ajuste o padding conforme necessário */
  cursor: pointer;
  width: 30px; /* Defina a largura desejada */
  height: 25px; /* Defina a altura desejada */
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
}

.cart-quantity {
  padding-left: 10px;
  padding-right: 10px;
}

.minus, .plus {
  padding: 0;
}

.cart-product-price {
  padding-left: 10px;
}

.cart-title {
justify-items: center;
}