.head {
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.head-menu li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 38px;
}

.head-menu label {
  margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.head label {
  margin-right: 100px;
  font-size: 9px;
}

.hamburger-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
.cart-icon {
  display: none;
}
}

@media screen and (max-width: 950px) {
  .cart-icon {
    display: true;
  }

  .hamburger-icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .head-menu {
    display: none;
    background-color: #444;
    padding: 5px;
  }
  .head-menu.show {
    display: block;
    position: absolute;
    top: 160px;
  }
  .head{
    justify-content: flex-start;    
  }
}