/* NavBar.css */
.navbar {
  color: #fff;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 24px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: #0f3460;
  text-decoration: underline;
}

/* Hamburger Icon Styles */
.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-btn-burger,
.menu-btn-burger:before,
.menu-btn-burger:after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #0f3460;
  transition: all 0.2s;
}

.menu-btn-burger {
  position: relative;
}

.menu-btn-burger:before,
.menu-btn-burger:after {
  position: absolute;
}

.menu-btn-burger:before {
  top: -8px;
}

.menu-btn-burger:after {
  top: 8px;
}

/* Media Query for Responsive Navbar */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1;
  }

  .menu.active li {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .menu-btn {
    display: block;
  }

  /* Estilos personalizados para o ícone hamburguer quando o menu está aberto */
  .menu-btn.open .menu-btn-burger {
    transform: rotate(-45deg);
  }

  .menu-btn.open .menu-btn-burger:before {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .menu-btn.open .menu-btn-burger:after {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}
